body{
    background-image: url(./dark-33.jpg);
    box-shadow: 20px;
}
.formitem{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
    color: white;
    margin-top: 70px;
    cursor: pointer;
}

.holmushim_div{
    display: flex;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.041);
    width: 28%;
    margin: 0% auto;
}
.formitem input{
  padding: 3% 16%;
    margin: 2%;
}
.btn{
    width: 83%;
    height: 42px;
    background-color: rgb(73, 73, 243);
    color: white;
    margin: 2%;
}
.fb{
   
    width: 200px;
    height: 42px;
    background-color: rgb(73, 73, 243);
    color: white;
    margin: 1px;
    justify-content: center;
}
.inst{
    width: 80%;
    height: 42px;
    background-color: rgb(248, 54, 54);
    color: rgb(247, 240, 240);
}
.log{
    display: flex;
   margin: 4%;

}
.fog{
    margin-right: 170px;
}
.sing{
    color: blue;
}
.sin{
    color: white;
    text-align: center;
}